html {
    overflow-x: hidden;
    overflow-y: scroll;
}
.hero-jumbotron {
    z-index: -2;
  height: 80vh;
  background-image: url("/217608558-colorfinal-notrucks.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333

}

.rail-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 2vh;
    position: fixed; 
}

@keyframes animatedTruck {
    0% {
        left: -50%;
      }
      100% {
        left: 150%;
      }
}

.vehicle {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}
.truck-one {
    z-index: 0;
    position: relative;
    width: 680px;
    top: 20vh;
    animation: animatedTruck 10s linear infinite;
}

.truck-two {
    position: absolute;
    width: 680px;
    top: 21vh;
    animation: animatedTruck 8s linear infinite;
}

.van-one {
    position: absolute;
    height: 140px;
    top: 23vh;
    animation: animatedTruck 7s linear infinite;
}

.van-two {
    position: absolute;
    height: 130px;
    margin-top: 23vh;
    animation: animatedTruck 12s linear infinite;
}

.van-three {
    position: absolute;
    height: 180px;
    top: 19vh;
    animation: animatedTruck 11s linear infinite;
}

.rail {
    width: 100%;
    z-index: 1;
    top: 14vh;
    position: relative; 
}

.hero-text {
    text-justify: left;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-left: 25px;
    padding-top: 40px;
}

h1 {
    text-align: left;
    color: var(--highlight-color);
    width: 60vh;
    margin-right: auto;
    border-bottom: 3px solid var(--highlight-color);
    padding-bottom: 6px
}

.hero-p {
    text-align: left;
    float: left;
    width: 80vh;
    font-size: 20px;
}