.camion-logo {
    width: 150px;
}

.navbar {
    background-color: #ffffff !important;
    border-bottom: 2px solid #EEEEEE !important;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.nav-item {
    text-transform: lowercase;
}

.nav-signup {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
}

.nav-signup:hover {
    border-color: var(--highlight-color);
    background-color: var(--highlight-color);
}

.signup-text {
    color: var(--tertiary-color);
}

.nav-login, .nav-home, .nav-logout {
    border: 2px solid transparent;
}