.card {
    width: 18rem;
    padding: 0rem;
}

.create-card, .find-card {
    margin-top: 20vh;
}
.page-container {
    height: 95vh;
    background: url('/183560531-2100x1189.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.create-image, .find-image {
    height: 200px;
}