html {
    --highlight-color: #fa163f;
    --primary-color: #12cad6;
    --secondary-color: #0fabbc;
    --tertiary-color: #e4f9ff;
}

p {
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 400 !important;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800 !important;
}

button {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    text-transform: lowercase !important;
    border-radius: 15px 15px 15px 0px !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

button:hover {
    background-color: var(--highlight-color) !important;
    border-color: var(--highlight-color) !important;
}